/* Integración de las fuentes Adelia, Garet, Callygraphy, Caroline y Daylove */
@font-face {
    font-family: 'Adelia';
    src: url('Adelia.ttf') format('truetype');
}

@font-face {
    font-family: 'Bastaman';
    src: url('Bastaman.ttf') format('truetype');
}

@font-face {
    font-family: 'Garet';
    src: url('Garet.ttf') format('truetype');

}

@font-face {
    font-family: 'Callygraphy';
    src: url('The Yoshi.otf') format('opentype');
}

@font-face {
    font-family: 'Caroline';
    src: url('Caroline.otf') format('opentype');
}

@font-face {
    font-family: 'Daylove';
    src: url('Daylove.ttf') format('truetype');
}

/* Aplicar la fuente Caroline a los títulos h3 */
h3 {
    font-family: 'Caroline', sans-serif;
    color: #8d8b55;
    /* Color de los títulos */
    margin: 15px 0;
    /* Margen superior e inferior */
    font-size: 3.5rem;
    /* Aumenta el tamaño de fuente aquí */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    /* Sombra del texto */
}

.music-button {
    margin-top: 50px;
    /* Margen superior de 50 píxeles */
}

.icono {
    font-size: 3.5rem;
    /* Tamaño de íconos consistente */
    color: #bec157;
    margin-bottom: 100px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.tenida-texto {
    font-family: 'Caroline', sans-serif;
    /* Cambiar a Garet */
    font-weight: bold;
    /* Negrita */
    color: #8d8b55;
    font-size: 3.5rem;
    /* Igual al tamaño de h3 */
    margin-top: 20px;
    /* Ajusta el margen superior para que coincida con los otros elementos */
}

.and {
    font-family: 'Adelia', cursive;
    font-size: 3rem;
    color: #6b4226;
    margin: 0 15px;
    display: inline-block;
}

/* Estilo base */
p,
button,
.invitation-text {
    font-family: 'Garet', sans-serif;
    font-weight: bold;
    /* Negrita */
    color: #6b4226;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}

.floral-background {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
}

.thank-you-text {
    font-family: 'Callygraphy', cursive;
    /* Usar Callygraphy para el texto de agradecimiento */
    font-size: 2rem;
    color: #6b4226;
    margin-top: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Estilo para los nombres de la pareja */
.names h1 {
    font-family: 'Adelia', cursive;
    /* Usar Adelia para los nombres */
    font-size: 3rem;
    color: #6b4226;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #bec157;
}

h1 {
    font-family: 'Daylove', cursive;
    /* Usar Daylove para el título principal */
    font-size: 2.5rem;
    color: #bec157;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.timer,
.section {
    margin: 20px 0;
    text-align: center;
}

/* Estilo para el temporizador */
#countdown {
    font-family: 'Garet', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    /* Negrita */
    color: #d48c60;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Aplicar la fuente Garet al texto de fecha */
.fecha {
    font-family: 'Garet', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    /* Negrita */
    color: #6b4226;
    margin-top: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Botones */
button {
    background-color: #424632;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-family: 'Garet', sans-serif;
    font-weight: bold;
    /* Negrita */
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7f4ca5;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: #bec157
}

.modal-content {
    background-color: #dbb6ee;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #bec157;
}

.close:hover {
    color: #bec157;
}

#countdown span {
    font-family: 'Garet', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    /* Negrita */
    color: #d48c60;
}

.invitation-text {
    font-size: 1.2rem;
    color: #6b4226;
    margin: 0 auto;
    max-width: 600px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.icono {
    font-size: 2.5rem;
    color: #bec157;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}